@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* COLOR PALETTE */
  --paynes-gray: #4e6b7a;
  --white: #ffffff;
  --light-blue: #b0d0d3;
  --bitter-sweet-red: #ed6a5a;
  --mint: #71b48d;
  --asparagus: #77ad78;
  --emerald: #70b77e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

a:visited,
a:link,
a:active {
  color: var(--paynes-gray);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--bitter-sweet-red);
  transition: 0.5s;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  display: block;
  padding: 1rem;
}

img {
  transition: transform 200ms 0ms ease-in-out, height 200ms 0ms ease-in-out;
}

.home-background {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.home-background img {
  max-height: 100%;
  max-width: 100%;
  opacity: 75%;
  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
  line-height: 0%;
}

.logo a {
  font-family: 'Jhodes';
  font-size: 4rem;
  font-weight: 500;
}

nav {
  display: flex;
  align-self: flex-start;
  position: relative;
  left: 6.25vw;
}

.nav-items {
  justify-content: flex-start;
  align-items: center;
}


/* MAIN CONTENT CONTAINERS */
section {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.flex-item {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 247, 213);
}

.flex-item img {
  width: 80%;
}

#sec-one {
  background-color: #d7f5df;
  max-width: 100vw;
  min-height: 100vh;
}

.sec-content {
  background-color: #dde8fa;
  height: auto;
  width: auto;
}

#sec-three {
  background-color: rgb(255, 230, 242);
  max-width: 100vw;
  min-height: 50vh;
}

section .container {
  padding: 2rem;
}

.top-container {
  margin: auto;
}

.bottom-container {
  margin: auto;
}

.item-one, .item-two {
  padding: 1rem;
}

.reverse {
  flex-direction: row-reverse;
}

/* FOOTER SECTION */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	position: relative;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

footer div {
	padding: 1rem;
}

#scrollToTopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  bottom: 2vh;
  right: 3vw;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}